{{>layout/header}}
<h3>hg web service </h3>
<div class="col-md-12">
    <!--로그인 기능 영역-->
    <div class="row">
        <div class="col-md-6">
            <!--            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>-->
            {{#userName}}
                Logged in as : <span id="user">{{username}}</span>
                <!-- spring security에서 기본 제공하는 logout url. 별도 컨트롤러 구현 X -->
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <!-- spring security에서 기본 제공하는 login url. 별도 컨트롤러 구현 X -->
                <!--                <a href="" class="btn btn-success active" role="button" methods="post">회원가입하기</a>-->
                <a href="/auth/join" class="btn btn-success active" role="button">회원가입하러 가기</a>
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google 로그인하기</a>
            {{/userName}}
        </div>
    </div>
</div>
<br>
<!-- 목록 출력 영역 -->
...
{{>layout/footer}}
